<h1>Stock App(仮)について</h1>
<p>Stock App はアメリカの株取引を利用して、トレードを成功させたい人向けの情報を届けます。
  余分な情報を削ぎ落とし、いち早くユーザーに「買い」「売り」の判断するお手伝いをします。</p>
<h2>判断基準</h2>
<p>株の価値判断について、決算情報を原則とします。「広瀬メソッド」を使用して下記の3点の観点で判断します</p>
<ul>
  <li>売上高</li>
  <li>EPS(一株当たり利益)</li>
  <li>ガイダンス</li>
</ul>
