<h1>Stock App(仮)について</h1>

<h2>Stock App(仮)とは?</h2>
<p>Stock App はアメリカの株取引を利用して、トレードを成功させたい人向けの情報を届けます。
  余分な情報を削ぎ落とし、いち早くユーザーに「買い」「売り」の判断するお手伝いをします。</p>
<h2>判断基準</h2>
<p>株の価値判断について、決算情報を原則とします。「広瀬メソッド」を使用して下記の3点の観点で判断します</p>
<ul>
  <li>売上高</li>
  <li>EPS(一株当たり利益)</li>
  <li>ガイダンス</li>
</ul>
<h2>「広瀬メソッド」とは?</h2>
<p>
  広瀬隆雄氏の提唱する「決算書の見方」に基づいて、良い株・悪い株を判定します。
  彼の著書「MarketHack流 世界一わかりやすい米国式投資の技法」に基づいています。
</p>
<p>画像 + text</p>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=match8969-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4492733027&linkId=44372ef3c1f654e5d98a14e51d2b43a2"></iframe>
<iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=match8969-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B00H6XYC4O&linkId=929c103d714c43dfe3c97f228d1a4b7d"></iframe>

<p>画像</p>
<a href="https://www.amazon.co.jp/%EF%BC%AD%EF%BD%81%EF%BD%92%EF%BD%8B%EF%BD%85%EF%BD%94%EF%BC%A8%EF%BD%81%EF%BD%83%EF%BD%8B%E6%B5%81-%E4%B8%96%E7%95%8C%E4%B8%80%E3%82%8F%E3%81%8B%E3%82%8A%E3%82%84%E3%81%99%E3%81%84%E7%B1%B3%E5%9B%BD%E5%BC%8F%E6%8A%95%E8%B3%87%E3%81%AE%E6%8A%80%E6%B3%95-%E5%BA%83%E7%80%AC-%E9%9A%86%E9%9B%84-ebook/dp/B00H6XYC4O/ref=as_li_ss_il?_encoding=UTF8&qid=1565842058&sr=8-1&linkCode=li2&tag=match8969-22&linkId=7f63ce8b14ea20ff4c92d3d84ae00f3f&language=ja_JP" target="_blank"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00H6XYC4O&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=match8969-22&language=ja_JP" ></a><img src="https://ir-jp.amazon-adsystem.com/e/ir?t=match8969-22&language=ja_JP&l=li2&o=9&a=B00H6XYC4O" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

<p>text</p>
<%= link_to 'test-link', 'https://amzn.to/2Z8laOW' %>
