<div class="wrap root">
  <div class="list-index-buttons container-fluid">
    <div class="row">
      <div class="link-box col-md-4">
        <%= link_to root_path, class: "link-box-inner" do %>
          <i class="index-icon fas fa-chart-line"></i>
          <p class="icon-title">ピカピカ</p>
        <% end %>
      </div>
      <div class="link-box col-md-4">
        <%= link_to root_path, class: "link-box-inner" do %>
          <i class="index-icon fas fa-exclamation"></i>
          <p class="icon-title">要注意</p>
        <% end %>
      </div>
      <div class="link-box col-md-4">
        <%= link_to root_path, class: "link-box-inner" do %>
          <i class="index-icon fas fa-poll"></i>
          <p class="icon-title">保有銘柄</p>
        <% end %>
      </div>
    </div>
  </div>
</div>