<div class="wrap root">
  <div class="list-index-buttons container-fluid">
    <div class="row">
      <div class="link-box col-md-4">
        <%= link_to root_path, class: "link-box-inner" do %>
          <i class="index-icon fas fa-file-upload"></i>
          <p class="icon-title">Title</p>
        <% end %>
      </div>
      <div class="link-box col-md-4">
        <%= link_to root_path, class: "link-box-inner" do %>
          <i class="index-icon fas fa-file-upload"></i>
          <p class="icon-title">Title</p>
        <% end %>
      </div>
      <div class="link-box col-md-4">
        <%= link_to root_path, class: "link-box-inner" do %>
          <i class="index-icon fas fa-file-upload"></i>
          <p class="icon-title">Title</p>
        <% end %>
      </div>
    </div>
  </div>
</div>