
/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}

body {
  /*
  background: #151515 url('../images/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;

   */
}

*, *::before, *::after {
  box-sizing: border-box;
}


/* header */
.header {


}
.nav-item {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #2E2F30;
  margin: 15px 5px 0;
  .nav-link {
    text-decoration: none;
    border: solid 1px #2E2F30;
    border-radius: 10%;
    color: #fff;
    background-color: #2E2F30;
  }
}


/* footer */
.footer {
  text-align: center;
  background-color: #2E2F30;
  color: #fff;

  .footer-lists {
    list-style: none;
    padding-left: 0;
    .footer-list-link {
      text-align: center;
      letter-spacing: 0.5px;
      text-decoration: none;
      color: #fff;

    }
  }
}


/* body */

.list-index-buttons {
  background-color: #fff;

  .link-box {
    text-align: center; /* box の iconを含む枠をを中央寄せしてる */
    padding: 50px 0 50px;

    .link-box-inner {
      text-decoration: none;
    }

    .index-icon {
      width: 200px;
      height: 200px;
      padding: 10px 0;
      border: solid 3px #2E2F30;
      border-radius: 50%;
      font-size: 6rem;
      color: #2E2F30;
      text-align: center;
      vertical-align: middle;
      line-height: 180px; /* これでbefore blockの高さが全体が設定KOK */

      &:hover {
        // 丸の中が変化
        color: #fff;
        background-color: #2E2F30;
      }
    }

    .icon-title {
      margin: 10px 0 10px;
      letter-spacing: 4px;
      font-size: 1.2rem;
      font-family: "Comic Sans MS";
      color: #2E2F30;
    }
  }
}

/* About */
.about {
  text-align: center;
  margin: 50px auto 50px;

  .about-explanation {
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 10px;
  }

  .criteria {
    padding: 30px 0;
  }

  .row-boxes {
    text-align: center;
    padding: 50px 0 50px;

    .about-box {
      text-align: center; /* box の iconを含む枠をを中央寄せしてる */
      padding: 30px 66px 30px;

      .about-box-inner {
        text-decoration: none;
      }

      .about-icon {
        width: 200px;
        height: 200px;
        padding: 10px 0;
        border: solid 3px #2E2F30;
        border-radius: 50%;
        font-size: 6rem;
        color: #2E2F30;
        text-align: center;
        vertical-align: middle;
        line-height: 180px; /* これでbefore blockの高さが全体が設定KOK */
      }

      .about-title {
        margin: 10px 0 10px;
        letter-spacing: 4px;
        font-size: 1.2rem;
        font-family: "Comic Sans MS";
        color: #2E2F30;
      }
    }
  }
  .method-description {
    padding: 50px;
  }
}

.method-description-message {
  padding: 30px 50px 10px 30px;
  text-align: left;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
