<div class="footer">
  <section>
    <h4>Stock App</h4>
      <ul class="footer-lists">
        <li><%= link_to 'About', about_path, class: "footer-list-link" %></li>
        <li><%= link_to 'Principle', about_path, class: "footer-list-link" %></li>
        <li><%= link_to 'Contact', about_path, class: "footer-list-link" %></li>
      </ul>
  </section>

  <div class="footer-copyright">Copyright &#169; stock_app ALL RIGHTS RESERVED.</div>
</div>